body {
  display:flex;
  flex-direction:column;
  height:100vh;
  margin:0;
}
.App {  
  display:flex;
  flex-direction:column;
  height:100%;
}
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:16px;
  background: #075E54;
  color: white;
}
h1, h2, h3, h4, h5, h6  {
  margin:0;
}

.menu {
  display:flex;
  gap:10px;
  list-style-type: none;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
}
